# Environment Variables & Secrets (All .env files & examples)
.env
.env*
.env.local
.env.local.example
.env.development.local
.env.test.local
.env.production.local
*.env
*.example

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage

# Next.js Build Output
/.next/
/out/

# Production Build
/build

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
.vercel
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
